<div class="w-5 ml-2 lg:ml-15 md:ml-15 sm:ml-15">
  <%= link_to user_path(@user) do %>
    <%= render 'shared/icons/back' %>
  <% end %>
</div>


<div class='text-white flex justify-center items-center flex-col space-y-10 mt-5 text-lg'>
  <h1><%= @user.full_name %>'s Followers</h1>
  <ul class='space-y-4 text-lg'>
    <% @followers.each do |follower| %>
      <%= link_to user_path(follower), class:'hover:underline flex items-center' do %>
        <li><%= follower.full_name %></li>
      <% end %>
    <% end %>
  </ul>
</div>
