<h2 class="text-3xl font-semibold mb-4">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- Email field -->
  <div class="mb-4">
    <%= f.label :email, class: 'text-white' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control bg-dark text-white border border-gray-300 rounded-lg shadow-sm w-full py-2 px-4 mt-2', required: true, type: 'email' %>
  </div>

  <!-- Submit button -->
  <div class="mt-4">
    <%= f.submit "Send me reset password instructions", class: 'w-full py-2 px-4 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-500 cursor-pointer' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
