<div class="text-white p-6 rounded-lg shadow-lg max-w-lg mx-auto">

  <h2 class="text-3xl font-semibold mb-4">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <!-- Email field -->
    <div class="mb-4">
      <%= f.label :email, class: 'text-white' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control bg-dark text-white border border-gray-300 rounded-lg shadow-sm w-full py-2 px-4 mt-2', required: true, type: 'email' %>
    </div>

    <!-- Password field -->
    <div class="mb-4">
      <%= f.label :password, class: 'text-white' %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control bg-dark text-white border border-gray-300 rounded-lg shadow-sm w-full py-2 px-4 mt-2', required: true %>
    </div>

    <!-- Remember me checkbox -->
    <% if devise_mapping.rememberable? %>
      <div class="mb-4 flex items-center">
        <%= f.check_box :remember_me, class: 'form-check-input bg-dark' %>
        <%= f.label :remember_me, class: 'text-white ml-2' %>
      </div>
    <% end %>

    <!-- Submit button -->
    <div class="mt-4">
      <%= f.submit "Log in", class: 'w-full py-2 px-4 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-500 cursor-pointer' %>
    </div>
  <% end %>

  <div class="mt-4 text-center text-white">
    <%= render "devise/shared/links" %>
  </div>
</div>
